{% extends "spidermanage/base.html" %}


{% block content %}
<p><button type="button" class="btn btn-primary">新增</button ></p>

<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">Projects</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body no-padding">
        <table class="table table-condensed">
          <tr>
            <th style="width: 10px">#</th>
            <th>项目名</th>
           
            <th>创建时间</th>
            
            <th>操作</th>
          </tr>
          {% for project in projects %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td><a href="{% url 'project' project.id %}">{{ project.name }}</a></td>
            
            <td>{{ project.createtime }}</td>
            
            <td>
              <button data-projectid='{{project.id}}' type="button" class="btn btn-danger btn-sm">删除</button>
            </td>
          </tr>
          {% endfor %}
        </table>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
  
</div>
<!-- /.row -->


{%endblock%}


{% block script %}

{% endblock %} 